{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>About Page</h1>
</div>
<p class="lead">WE ARE A GROUP OF COMPUTER SCIENCE AND ENGINEERING STUDENTS</p>
<p>A DREAM OF SOLVING PROBLEMS FACED BY THE HEALTHCARE INDUSTRY IN OUR COUNTRY.</p>
<p> WE BELIEVE
THAT IN ORDER TO BRING A CHANGE IN THE SOCIETY,
WE DO NOT HAVE TO BE SOME GOD GIFTED GENIUS OR A
GREAT RESEARCHER, ALL WE NEED IS THE WILL AND 
DETERMINATION TO DO SO.</p>
<p>TO BRING IN LIGHT A FEW EXAMPLES</p>
<p><ul> <li>THE EVOLUTION OF SOCIAL MEDIA, FACEBOOK BY MARK ZUKERBURG!
<li>EVOLUTION OF SMART PHONES, APPLE BY STEVE JOBS!
<li>EVOLUTION OF AUTOMOBILES, TESLA BY ELON MUSK!</p>
</ul>
{% endblock %}
