{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  
  <h1>THIS IS A SIMPLE WEB INTERFACE FOR A HEALTHCARE MANAGEMENT SYSTEM.</h1>
</div>
<p class="lead">THIS IS A SIMPLE WEB INTERFACE FOR A HEALTHCARE MANAGEMENT SYSTEM.
<br>IMPROVING HEALTHCARE SERVICES IS A MAJOR CONCERN WORLDWIDE I.E. REDUCING THE COSTS OF CHECKUPS AND TREATMENTS!
WE HAVE PICKED UP <i> STATE OF THE ART ARTIFICIAL INTELLIGENCE ALGORITHMS </i> , AND IMPLEMENTED A FEW SERVICES WHICH CAN BE USED FOR CONSULTANCY BY <b>DOCTORS</b>. <br>
THE TARGET AUDIENCE FOR THESE SERVICES ARE PATIENTS AND DOCTORS.</p>

{% endblock %}


