{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>About Us !</h1>
</div>
<p class="lead">WE ARE A GROUP OF <i>COMPUTER SCIENCE AND ENGINEERING STUDENTS</i></p>
<p>A DREAM OF SOLVING PROBLEMS FACED BY <b>THE HEALTHCARE INDUSTRY IN OUR COUNTRY</b>.</p>
<p> WE BELIEVE
THAT IN ORDER TO BRING A CHANGE IN THE SOCIETY,
WE DO NOT HAVE TO BE SOME GOD GIFTED GENIUS OR A
GREAT RESEARCHER, ALL WE NEED IS THE WILL AND 
DETERMINATION TO DO SO.</p>
<p>TO BRING IN LIGHT A FEW EXAMPLES</p>
<p><ul> <li> <b>THE EVOLUTION OF SOCIAL MEDIA,</b> <i>FACEBOOK BY MARK ZUKERBURG!</i>
  <li><b>EVOLUTION OF SMART PHONES, </b><i>APPLE BY STEVE JOBS!</i>
    <li><b>EVOLUTION OF AUTOMOBILES,</b> <i>TESLA BY ELON MUSK! </i></p>
</ul>
{% endblock %}
